.drop-down, .button {
    background-color: #f1f1f1;
    font-weight: bold;
    width: 170px; 
    height: 45px;  
}

.table-drop-down {
    appearance: none;     
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;          
    background: transparent; 
    font-family: inherit;    
    font-size: inherit;
}