{% extends "layout.html" %}


{% block title %}
    Dashboard
{% endblock %}

{% block page %}

	<div class="w3-container" style="padding-top:22px; padding-bottom: 5px;">
	</div>

	<div class="w3-row-padding w3-margin-bottom">
		<div class="w3-quarter">
			<div class="w3-container w3-teal w3-padding-16">
				<div class="w3-left"><i class="fa fa-road w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="total_distance">{{ yearly_distance }} {{ unit }}</h3>
				</div>
				<div class="w3-clear"></div>
				<h4>Yearly Distance</h4>
			</div>
		</div>
		<div class="w3-quarter">
			<div class="w3-container w3-blue w3-padding-16">
				<div class="w3-left"><i class="fa fa-clock-o w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="formated_total_time">{{ yearly_hours }}</h3>
				</div>
				<div class="w3-clear"></div>
				<h4>Yearly Hours</h4>
			</div>
		</div>
		<div class="w3-quarter">
			<div class="w3-container w3-red w3-padding-16">
				<div class="w3-left"><i class="fa fa-line-chart w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="run_count">{{ yearly_activity_count }}</h3>
				</div>
				<div class="w3-clear"></div>
				<h4>Yearly Run Count</h4>
			</div>
		</div>
		<div class="w3-quarter">
			<div class="w3-container w3-orange w3-text-white w3-padding-16">
				<div class="w3-left"><i class="fa fa-star w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="session_count">{{ yearly_session_count }}</h3>
				</div>
				<div class="w3-clear"></div>
				<h4>Yearly Session Count</h4>
			</div>
		</div>
	</div>

	<div class="w3-panel">
		<div class="w3-row-padding" style="margin:0 -16px">

			<!-- Mileage Breakdown -->
			<div class="w3-half">
				<h5><b>Mileage Breakdown</b></h5>

				<select class="drop-down" id="mileage_trend_dropdown">
					<option value="All"selected >All</option>
					<option value="easy_distance">Easy</option>
					<option value="lt1_distance">LT1</option>
					<option value="lt2_distance">LT2</option>
					<option value="hard_distance">Hard</option>
				</select>

				<div id="mileage_trend_bar"></div>
			</div>

			<!-- Pace Breakdown -->
			<div class="w3-half">
				<h5><b>Pace Breakdown</b></h5>

				<select class="drop-down" id="pace_trend_dropdown">
					<option value="Easy Pace" selected>Easy</option>
					<option value="LT1 Pace">LT1</option>
					<option value="LT2 Pace">LT2</option>
					<option value="Hard Pace">Hard</option>
				</select>

				<div id="pace_trend_line"></div>
			</div>

		</div>
	</div>

	<div class="w3-panel">
		<div class="w3-row-padding" style="margin:0 -16px">

			<!-- Time Breakdown -->
			<div class="w3-half">
				<h5><b>Time Breakdown</b></h5>

				<select class="drop-down" id="time_dropdown">
					<option value="All"selected >Last Five Weeks</option>
					{% for week in weeks_active %}
					 	<option value="{{ week }}" >{{ week }}</option>
					{% endfor %}
=				</select>

				<div id="time_pie_chart"></div>
			</div>

			<!-- Run Count Breakdown -->
			<div class="w3-half">
				<h5><b>Run Count Breakdown</b></h5>

				<select class="drop-down" id="run_count_dropdown">
					<option value="All" selected>Run Count</option>
					<option value="Easy Run Count" selected>Easy</option>
					<option value="Session Count">Session</option>
				</select>

				<div id="run_count_trend"></div>
			</div>

		</div>
	</div>


	<script> 
		const mileage_trend_bar_safe = {{ mileage_trend_plot | safe }};
		const pace_trend_line_safe = {{ pace_trend_plot | safe }};
		const time_plot_safe = {{ time_plot | safe }};
		const run_count_safe = {{ run_count_plot | safe }};
	</script>

	<script src="{{ url_for('static', filename='dashboard.js') }}"></script>
	<script>initialiseCharts(mileage_trend_bar_safe, pace_trend_line_safe, time_plot_safe, run_count_safe);</script>

{% endblock %}
