{% extends "layout.html" %}


{% block title %}
    Dashboard
{% endblock %}

{% block page %}

	<div class="w3-container" style="padding-top:22px; padding-bottom: 5px;">
	</div>

	<div class="w3-row-padding w3-margin-bottom">
		<div class="w3-quarter">
			<div class="w3-container w3-teal w3-padding-16">
				<div class="w3-left"><i class="fa fa-road w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="total_distance">{{ total_distance }} {{ unit }}</h3>
				</div>
				<div class="w3-clear"></div>
				<h4>Yearly Distance</h4>
			</div>
		</div>
		<div class="w3-quarter">
			<div class="w3-container w3-blue w3-padding-16">
				<div class="w3-left"><i class="fa fa-clock-o w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="formated_total_time">{{ formated_total_time }}</h3>
				</div>
				<div class="w3-clear"></div>
				<h4>Yearly Hours</h4>
			</div>
		</div>
		<div class="w3-quarter">
			<div class="w3-container w3-red w3-padding-16">
				<div class="w3-left"><i class="fa fa-line-chart w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="run_count">{{ run_count }}</h3>
				</div>
				<div class="w3-clear"></div>
				<h4>Yearly Run Count</h4>
			</div>
		</div>
		<div class="w3-quarter">
			<div class="w3-container w3-orange w3-text-white w3-padding-16">
				<div class="w3-left"><i class="fa fa-star w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="session_count">{{ session_count }}</h3>
				</div>
				<div class="w3-clear"></div>
				<h4>Yearly Session Count</h4>
			</div>
		</div>
	</div>

	<div class="w3-panel">
		<div class="w3-row-padding" style="margin:0 -16px">
			<h5><b>Mileage Breakdown</b></h5>
			<div class="w3-half">
				<select class="drop-down"  id="mileage_trend_dropdown">
					<option value="All">All</option>
					<option value="easy_distance">Easy</option>
					<option value="lt1_distance">LT1</option>
					<option value="lt2_distance">LT2</option>
					<option value="hard_distance">Hard</option>					
				</select>

				<div id="mileage_trend_bar"></div>
			</div>
			<div class="w3-half"></div>
		</div>
	</div>

	<script> 
		const mileage_trend_bar_safe = {{ mileage_trend_plot | safe }};
	</script>

	<script src="{{ url_for('static', filename='dashboard.js') }}"></script>
	<script>initialiseCharts(mileage_trend_bar_safe)</script>

{% endblock %}