{% extends "layout.html" %}


{% block title %}
    Running Gear
{% endblock %}

{% block page %}

	<div class="w3-container" style="padding-top:22px; padding-bottom: 5px;">
		<select class="drop-down"  id="gear_type_drop_down">
			<option value="All">All</option>
			<option value="Active" selected>Active</option>
			<option value="Retired">Retired</option>
		</select>
		
		<button class="button" onclick="add_new_row()">Add New Trainer</button>
	</div>



	<div class="w3-panel">
		<div class="w3-row-padding" style="margin:0 -16px">
			<div class="w3-third">
				<h5><b>Mileage Breakdown</b></h5>
				<div id="pie"></div>
			</div>
			<div class="w3-twothird">
				<h5><b>Gear</b></h5>
				<table class="w3-table w3-striped w3-white" id="gear_table">
					  <thead>
						<tr class="w3-light-grey">
							<th>Trainer</th>
							<th>{{ unit }}</th>
							<th>Run Type</th>
							<th>Status</th>
						</tr>
						</thead>
					<tbody>
						<tr id="1">
							<td id="shoe-1" contenteditable="true">Novablast</td>
							<td id="miles-1" contenteditable="true">500</td>
							<td>
							<select id="default_type-1" class="table-drop-down">
								<option>Easy</option>
								<option>Session</option>
								<option>None</option>
							</select>
							</td>
							<td>
							<select id="active-1" class="table-drop-down">
								<option>Active</option>
								<option>Retired</option>
							</select>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<script> 
		const data_safe = {{ data | safe }} 
		const pie_chart_safe = {{ pie_chart | safe }};
	</script>

	<script src="{{ url_for('static', filename='gear.js') }}"></script>
	<script>set_event_listners(data_safe, pie_chart_safe)</script>

{% endblock %}
