{% extends "layout.html" %}


{% block title %}
    Training Hub
{% endblock %}

{% block page %}

	<div class="w3-container" style="padding-top:22px; padding-bottom: 5px;">
		<select class="drop-down"  id="drop_down">
				<option value="Pending" selected>Pending</option>
				<option value="Complete" selected>Complete</option>
				<option value="All" selected>All</option>
		</select>
		<a href="http://127.0.0.1:5000/plan/new"><button class="button">Add New Plan</button></a>
	</div>

	<div class="w3-row-padding w3-margin-bottom">
		<div class="w3-quarter">
			<div class="w3-container w3-teal w3-padding-16">
				<div class="w3-left"><i class="fa fa-road w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="upcoming_distance">{{ upcoming_distance }} {{ unit }}</h3>
				</div>
				<div class="w3-clear"></div>
				<h4>Upcoming Planned {{ unit }}</h4>
			</div>
		</div>
		<div class="w3-quarter">
			<div class="w3-container w3-blue w3-padding-16">
				<div class="w3-left"><i class="fa fa-area-chart w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="average_distance">{{ average_distance }} {{ unit }}</h3>
				</div>
				<div class="w3-clear"></div>
				<h4>Average Upcoming {{ unit }}</h4>
			</div>
		</div>
		<div class="w3-quarter">
			<div class="w3-container w3-red w3-padding-16">
				<div class="w3-left"><i class="fa fa-star w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="upcoming_plans">{{ upcoming_plans }}</h3>
				</div>
				<div class="w3-clear"></div>
				<h4>Upcoming Plan Count</h4>
			</div>
		</div>
		<div class="w3-quarter">
			<div class="w3-container w3-orange w3-text-white w3-padding-16">
				<div class="w3-left"><i class="fa fa-percent w3-xxxlarge"></i></div>
				<div class="w3-right">
					<h3 id="success_rate">{{ success_rate }} %</h3>
				</div>
				<div class="w3-clear"></div>
				<h4>Plan Success Rate</h4>
			</div>
		</div>
	</div>

	<div class="w3-panel">
		<div class="w3-row-padding" style="margin:0 -16px">
			<div class="w3-third">
				<h5><b>Mileage Breakdown</b></h5>
				<div id="bar"></div>
			</div>
			<div class="w3-twothird">
				<h5><b>Plans</b></h5>
				<table class="w3-table w3-striped w3-white" id="plan_table">
					<thead>
						<tr class="w3-light-grey">
							<th>Week</th>
							<th>Total Miles</th>
							<th>Planned Session Types</th>
							<th>Outcome</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
	
	<script> 
		const bar_chart_safe = {{ bar_chart | safe }};
		const data_safe = {{ training_hub_data | safe }};
		const base_url = "{{ plan_base_url }}";
	</script>
	<script src="{{ url_for('static', filename='training.js') }}"></script>
	<script>initialiseContent(data_safe, bar_chart_safe)</script>

{% endblock %}